html, body {
  margin: 0;
  padding: 0;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.artist-name {
  margin-left: 60px;
  font-size: 48px;
  letter-spacing: 4px;
  font-family: "Times New Roman", serif;
}



