/* 全站基本設定 */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
}

/* 封面 */
.cover {
  width: 100vw;
  height: 100vh;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* 左側名字 */
.artist-name {
  margin-left: 80px;
  font-size: 48px;
  letter-spacing: 6px;
  color: black;
  line-height: 1.3;
}

/* 展覽區 */
.exhibition {
  min-height: 100vh;
  padding: 120px 80px;
  background: white;
}

/* 標題 */
.exhibition h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* 藝術家自述 */
.statement {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 80px;
}

/* 作品圖列 */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}


/* 圖片 */
.gallery img {
  width: 100%;
  height: auto;
}
.gallery img {
  width: 100%;
  display: block;
}
/* ===== NAVBAR ===== */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  z-index: 1000;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  transition: all 0.3s ease;
}

/* 滑動後狀態 */
#navbar.scrolled {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
}

/* 左邊名字 */
.nav-left {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* 右邊選單 */
.nav-right a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
}

/* hover 很重要，像美術館 */
.nav-right a:hover {
  opacity: 0.6;
}
